body {
  background: url('https://source.unsplash.com/ut67iFuoD2o/1800x1800') no-repeat
    center center fixed;
  background-size: cover;
}

.content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  height: 50px;
}

.paragraph {
  margin: 30px 0 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
